.main__cart {
    background-color: #eee;
    border: 2px solid #ddd;
    padding: 0 10px;
    border-radius: 20px;
    text-align: center;

    & a {
        color: black;
        text-decoration: none;
        padding: 3px 10px;

        &:hover {
            background-color: #999;
            border-radius: 20px;
        }
    }

    & ul {
        list-style-type: none;
        padding-left: 10px;

        & li {
            padding-bottom: 10px;
            font-size: 1.15rem;
        }
    }
}

.main__cart-title {
    font-size: 1.5em;
}

main p {
    background: #999999;
    padding: 20px;
    border-radius: 15px;
}
