@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: "Russo One", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Шапка */
.header {
    background-color: #444;
    color: white;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    margin: 100px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.header__nav ul {
    list-style: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.header__nav li {
    display: inline;
}

.header__nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;

    &:hover {
        background-color: #666;
    }
}

.main__category {
    background-color: #eee;
    border: 2px solid #ddd;
    padding: 0 10px;
    border-radius: 20px;

    & a {
        color: black;
        text-decoration: none;
        padding: 3px 10px;

        &:hover {
            background-color: #999;
            border-radius: 20px;
        }
    }

    & ul {
        list-style-type: none;
        padding-left: 10px;

        & li {
            padding-top: 5px;
            font-size: 1.15rem;
        }
    }
}

.main__category-title {
    font-size: 1.5em;
}

.main__product {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 20px;

    & span {
        font-style: italic;
    }
}

.main__product, .aside__reviews {
    flex: 1 1 45%;
}

.main__product-image {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Адаптивная таблица */
.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    & tr:nth-child(even) {
        background-color: antiquewhite;
    }

    & tr:nth-child(odd) {
        background-color: #fff;
    }

    & td, th {
        border: 2px solid black;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
    }
}

.article__advantages {
    background-color: #eee;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;

    & span {
        font-weight: bold;
    }
}

.aside__reviews blockquote {
    border-left: 5px solid #ccc;
    padding-left: 10px;
    margin: 10px;
    color: #666;
}

.main__map {
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
}

.main__contacts {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 20px;

    & ul {
        padding-left: 10px;
        list-style-type: none;

        & li {
            padding-bottom: 10px;
        }
    }
}

.footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Адаптивные стили для разных экранов */
@media screen and (max-width: 768px) {
    .main__product, .aside__reviews {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 570px) {
    .main {
        margin: 130px 10px 10px;
    }
}

@media screen and (max-width: 500px) {
    .header__nav ul {
        flex-direction: column;
        text-align: right;
    }

    .header__nav li {
        padding: 5px;
    }

    .main__map, .footer {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .main {
        margin: 140px 10px 10px;
    }

    .header {
        font-size: 0.9em;
    }
}
